<div class="explanation text-center">
  <h2 class="my-3 font-weight-normal">KOMATAとは</h2>
  <p class="text-left">KOMATA（不安や悩み、困ったこと）を打ち明けたいけど打ち明けることがなかなか出来ない人が気軽に呟くことができるアプリです。
  KOMATAに対してOTASUKE（アドバイス、応援）を投稿することで助け合うことができます。</p>
  <p>さあ、KOMATAをOTASUKEしましょう！</p>
  <div class="my-3">
    <% if user_signed_in? %>
      <%= link_to 'KOMATA投稿', new_komata_message_path, class: "btn btn-lg btn-secondary" %>
    <% end %>
  </div>
  <div class="my-3"> 
    <%= link_to '戻る', :back %>
  </div>
</div>