<%= form_for [komata_message, otasuke_message] do |f| %>

  <div class="form-group">
    <%= f.text_area :content, class: 'form-control', rows: 5 %>
    <br>
    <%= f.submit 'コメントする', class: 'btn btn-primary btn-block'%>
  </div>
<% end %>